spring:
  data:
    mongodb:
      database: loanclub
      host: localhost
      port: 27017
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://cognito-idp.%AWS_REGION%.amazonaws.com/%AWS_POOL_ID%/.well-known/jwks.json